services:
  markitdown-api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./output:/app/output
      - ./input:/app/input
      - ./debug:/app/debug
      - ./batch_state:/app/batch_state
      - ./vector_store:/app/vector_store
      - ./app:/app/app
      - ./tiktoken_cache:/app/tiktoken_cache
    environment:
      - MARKITDOWN_OUTPUT_DIR=/app/output
      - MARKITDOWN_INPUT_DIR=/app/input
      - BATCH_STATE_DIR=/app/batch_state
      - OLLAMA_BASE_URL=http://host.docker.internal:11434
      - OLLAMA_EMBEDDING_MODEL=mxbai-embed-large
      - OLLAMA_LLM_MODEL=gemma2
      - VECTOR_STORE_DIR=/app/vector_store
      - TIKTOKEN_CACHE_DIR=/app/tiktoken_cache
      # 오프라인 및 로컬 모델 설정S
      - HF_HUB_OFFLINE=1
      - TRANSFORMERS_OFFLINE=1
      - RETRIEVER_RERANKER_MODEL=/app/models/bge-reranker-v2-m3
      - LOG_LEVEL=INFO
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    restart: unless-stopped
    networks:
      - default
    # 오프라인에서 동작합니다. 가장 쉬운 방법은 잠시 DNS 차단을 풀고 한 번 실행하는 것입니다.
    # docker-compose.yml에서 dns: - 0.0.0.0 부분을 잠시 주석 처리합니다.
    # 컨테이너를 실행하여 테스트셋 생성 등 해당 에러가 났던 기능을 한 번 실행합니다. (이때 파일이 ./tiktoken_cache에 다운로드됩니다.)
    # 다시 dns: - 0.0.0.0 주석을 해제하고 컨테이너를 재시작합니다.
    # 이제 다운로드된 캐시 파일을 사용하여 인터넷 연결 없이도 정상 작동합니다.
    dns:
      - 0.0.0.0  # DNS 해석을 불가능하게 설정
    extra_hosts:
      - "host.docker.internal:host-gateway"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

# networks:
#   default:
#     driver: bridge
#     driver_opts:
#       com.docker.network.bridge.enable_ip_masquerade: "false"
